@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Sigmar+One&display=swap');

h1{
    background: url(3.jpg);
    font-size: 160px;
    color: transparent;
    -webkit-background-clip: text;
    animation: animate 10s infinite linear;
}
body{
    background-color: black;
    font-family: 'Sigmar One', cursive;
    text-align: center;
    color: blanchedalmond;
}

@keyframes animate{
    from{
        background-position: 0 0;
    }
    to{
        background-position: 100% 100%;
    }
}

.t{
    font-family: 'Sigmar One', cursive;
    transition: 1s;
    font-size: 15px;
    background-color: salmon;
    color: seashell;
    border: solid 3px #8a4646;
    border-radius: 30px;
    opacity: 0.7;
    margin: 30px;
    padding: 15px;
    width: 100px;
}
.t:hover{
    border: solid 9px #8a4646;
    opacity: 1;
    transform: rotate(-45deg);
} 

.r{
    
    font-family: 'Sigmar One', cursive;
    transition: 1s;
    font-size: 15px;
    background-color: rgb(89, 170, 247);
    color: seashell;
    border: solid 3px #06258a;
    border-radius: 30px;
    opacity: 0.7;
    margin: 30px;
    padding: 15px;
    width: 100px;
}
.r:hover{
    border: solid 9px #06258a;
    opacity: 1;
    transform: rotate(160deg);
} 